In [1]:
import pandas as pd 

df1 = pd.read_excel("Dataset_CRC_13.11_Methylation read_checked.xlsx")
df2 = pd.read_csv("metadata_Spike_in_silico_GW_samples_from_tissue_highdepth_15112024.csv")
df3 = pd.read_excel("metadata evaluate ctquantification.xlsx")

df1 = df1[["SampleID", "TM_BAM"]]
df3 = df3[["SampleID", "TM_BAM"]]

df = pd.concat([df1, df3], axis = 0)

df.to_csv("validation_samples_Truong_and_Vi.csv", index=False)

In [2]:
len(df.SampleID.unique()) == df.shape[0]

True

In [1]:
import pandas as pd 
dfs1 = pd.read_excel("metadata evaluate ctquantification.xlsx", sheet_name="Liver_MRD")
dfs2 = pd.read_excel("metadata evaluate ctquantification.xlsx", sheet_name="CRC_MRD")
dfs3 = pd.read_excel("metadata evaluate ctquantification.xlsx", sheet_name="Breast_MRD")
dfs4 = pd.read_excel("metadata evaluate ctquantification.xlsx", sheet_name="ECD")

fulldf = pd.concat([dfs1, dfs2, dfs3, dfs4], axis = 0)
fulldf.to_csv("validation_Truong_full.csv")
fulldf[["SampleID", "TM_BAM"]].to_csv("validation_Truong.csv", index = False)

   SampleID                                             TM_BAM
0     MH002  /mnt/BACKUP_NAS05/ECDTM_repo/R3113/align/33-ZM...
1     MH003  /mnt/BACKUP_NAS05/ECDTM_repo/R3166/align/69-ZM...
2     MH004  /mnt/BACKUP_NAS05/ECDTM_repo/R3113/align/54-ZM...
3     MH005  /mnt/BACKUP_NAS05/ECDTM_repo/R3144/align/3-ZMH...
4     MH006  /mnt/BACKUP_NAS05/ECDTM_repo/R3166/align/79-ZM...
..      ...                                                ...
27   K0AB39  /mnt/BACKUP_NAS05/ECDTM_repo/R3065/align/9-K0A...
28   K0AC39  /mnt/BACKUP_NAS05/ECDTM_repo/R3154/align/6-K0A...
29    K0120  /mnt/BACKUP_NAS05/ECDTM_repository/align/13-K0...
30    K0413  /mnt/BACKUP_NAS05/ECDTM_repository/align/59-K0...
31    K0714  /mnt/BACKUP_NAS05/ECDTM_repository/align/57-K0...

[275 rows x 2 columns]