In [15]:
import pandas as pd 

df1 = pd.read_excel("Dataset_CRC_13.11_Methylation read_checked.xlsx")
df2 = pd.read_csv("metadata_Spike_in_silico_GW_samples_from_tissue_highdepth_15112024.csv")
df3 = pd.read_excel("metadata evaluate ctquantification.xlsx")

df1 = df1[["SampleID", "TM_BAM"]]
df3 = df3[["SampleID", "TM_BAM"]]

df = pd.concat([df1, df3], axis = 0)

df.to_csv("validation_samples_Truong_and_Vi.csv")

In [16]:
df

   SampleID                                             TM_BAM
0    CRCB54  /mnt/BACKUP_NAS05/ECDTM_repository/align/CRCB5...
1    CRCB55  /mnt/BACKUP_NAS05/ECDTM_repository/align/CRCB5...
2    CRCB59  /mnt/BACKUP_NAS05/ECDTM_repo/Sub50_batch3/alig...
3    CRCB60  /mnt/BACKUP_NAS05/ECDTM_repo/Sub75a/align/6-ZC...
4    CRCB61  /mnt/BACKUP_NAS05/ECDTM_repository/align/CRCB6...
..      ...                                                ...
53    MH058  /mnt/BACKUP_NAS05/ECDTM_repo/R3166/align/66-ZM...
54    MH059  /mnt/BACKUP_NAS05/ECDTM_repo/R3113/align/43-ZM...
55    MH060  /mnt/BACKUP_NAS05/ECDTM_repo/R3144/align/1-ZMH...
56    MH061  /mnt/BACKUP_NAS05/ECDTM_repo/R3113/align/26-ZM...
57    MH062  /mnt/BACKUP_NAS05/ECDTM_repo/R3113/align/42-ZM...

[924 rows x 2 columns]